:root {
  --PRIMARY: rgba(227, 53, 3, 1);
  --C_BG: white;
  --C_FONT: black;
}

[data-theme="dark"] {
  --C_BG: #100c08;
  --C_FONT: white;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--C_BG);
  color: var(--C_FONT);
  align-items: stretch;
}

main {
  flex-grow: 1;
}

main,
footer,
header {
  flex-shrink: 0;
}

header {
  color: black;
}

.full {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.capitalize {
  text-transform: capitalize;
}

.text_center {
  text-align: center;
}

.inline {
  display: inline;
}

.bold {
  font-weight: bold;
}

.page_wrapper {
  margin: 0.5rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

tbody,
table {
  width: 100%;
}

footer {
  height: 3rem;
  background-color: var(--PRIMARY);
  color: black;
}
