.titleSection {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-weight: bolder;
}

.sprite {
  transform: scale(1.25);
}

.row {
  width: 100%;
  height: 1.5rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}

.row td {
  padding: 0.25rem;
  white-space: nowrap;
}

.bar_td {
  width: 80%;
}

.bar {
  background-color: black;
  height: 1rem;
  border-radius: 5px;
}
